.creationpage {
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    @media screen and (min-width: 768px) {
        padding-top: 15px;
    }

    .backlink {
        width: 412px;
        margin: 10px auto;
        font-weight: bold;

        @media screen and (min-width: 768px) {
            margin: 10px;
        }
    }

    label {
        display: flex;
        flex-direction: column;
        gap: 15px;

        input {
            padding: 10px;
            border: 1px solid black;
            border-radius: 8px;
        }

        textarea {
            padding: 10px;
            border: 1px solid black;
            border-radius: 8px;
            min-height: 200px;
        }
    }

    .btn-con {
        display: flex;
        flex-direction: row;
        gap: 15px;

        button {
            width: fit-content;
            padding: 10px 15px;
            border: 1px solid rgb(32, 32, 32);
            border-radius: 5px;
            background-color: rgb(32, 32, 32);
            color: white;
            cursor: pointer;

            &:hover, &:focus {
                background-color: transparent;
                color: rgb(32, 32, 32);
            }
        }
    }
}